**Data type and sturcture**

1. What are data structures, and why are they important?

>Data structures are methods for organizing, storing, and managing data to enable efficient access and modification:

 - Allow fast retrieval and manipulation.

 - Essential for solving complex computational problems.

 - Examples: Lists, Tuples, Sets, Dictionaries, Trees, and Graphs.

2. Explain the difference between mutable and immutable data types with examples.

>Mutable: Can be changed after creation (e.g., list, dict, set).

>Immutable: Cannot be changed once created (e.g., int, str, tuple).


3. What are the main differences between lists and tuples in Python?
Answer:

| Feature     | List              | Tuple             |
| ----------- | ----------------- | ----------------- |
| Mutability  | Mutable           | Immutable         |
| Syntax      | `[1, 2, 3]`       | `(1, 2, 3)`       |
| Performance | Slower            | Faster            |
| Use Case    | When data changes | Fixed data values |



4. Describe how dictionaries store data.

>Use a hash table internally, mapping each key to a memory index for its value.

>Provide O(1) average access, insertion, and deletion.


5. Why might you use a set instead of a list in Python?

- Ensures uniqueness—no duplicates.

- Offers fast membership testing (in) using hashing.

- Supports mathematical set operations: union, intersection, difference.

6. What is a string in Python, and how is it different from a list?

- A string is an immutable sequence of characters (e.g. "hello").

- A list is a mutable collection of elements (can include mixed types).

7. How do tuples ensure data integrity in Python?

>Tuples are immutable; once created, their content cannot be changed, added, or removed. This prevents accidental modification and ensures consistency.

8. What is a hash table, and how does it relate to dictionaries in Python?

>A hash table uses a hash function to map keys to values for fast data retrieval. Python dictionaries are implemented using hash tables, enabling efficient access.

9. Can lists contain different data types in Python?

>Yes, Python lists are heterogeneous and can contain multiple data types:

- example = [1, "apple", 3.14, True]

10. Explain why strings are immutable in Python.

- Enables memory efficiency (e.g. interning).

- Ensures thread safety.

- Makes strings hashable, allowing use as dictionary keys.

11. What advantages do dictionaries offer over lists for certain tasks?

- Use meaningful keys for data access.

- Provide fast lookup using keys (O(1) average).

- Better suited for structured configuration, user data, etc.

12. Describe a scenario where using a tuple would be preferable over a list.

>When data should remain unchanged: e.g., geographic coordinates:

- coordinates = (28.6139, 77.2090)

13. How do sets handle duplicate values in Python?

>Sets automatically remove duplicates.
- Example: set([1, 2, 2, 3])  # → {1, 2, 3}

14. How does the in keyword work differently for lists and dictionaries?

- Lists: in checks for values.

- Dictionaries: in checks only keys.

15. Can you modify the elements of a tuple? Explain why or why not.

>No. Tuples are immutable, which prevents changing, adding, or deleting elements after creation.

16. What is a nested dictionary, and give an example of its use case?

>A dictionary that contains other dictionaries; ideal for structured data like student records

17. Describe the time complexity of accessing elements in a dictionary.

- Average case: O(1), due to hashing.

- Worst case: O(n) (rare, during hash collisions).

18. In what situations are lists preferred over dictionaries?

- When data order and indexing matter.

- When data is sequential, not key-based.

- For lower memory usage and simple aggregation.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Before Python 3.7: dictionaries were unordered and retrieval order was unpredictable.

- From Python 3.7 onward: insertion order is preserved, but logic should still rely on keys, not order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

| Structure  | Retrieval Method | Example        |
| ---------- | ---------------- | -------------- |
| List       | By **index**     | `list[0]`      |
| Dictionary | By **key**       | `dict['name']` |

Lists are ordered and index-based; dictionaries are key-based with faster lookup.

**practical question**

### Question 1
Create a string with your name and print it.

In [1]:
name = "Deepu"
print(name)

Deepu

### Question 2
Find the length of the string "Hello World".

In [2]:
print(len("Hello World"))

11

### Question 3
Slice the first 3 characters from the string "Python Programming".

In [3]:
print("Python Programming"[:3])

Pyt

### Question 4
Convert the string "hello" to uppercase.

In [4]:
print("hello".upper())

HELLO

### Question 5
Replace the word "apple" with "orange" in "I like apple".

In [5]:
print("I like apple".replace("apple", "orange"))

I like orange

### Question 6
Create a list with numbers 1 to 5 and print it.

In [6]:
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

### Question 7
Append number 10 to the list [1, 2, 3, 4].

In [7]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

### Question 8
Remove number 3 from the list [1, 2, 3, 4, 5].

In [8]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### Question 9
Access second element in ['a', 'b', 'c', 'd'].

In [9]:
print(['a', 'b', 'c', 'd'][1])

b

### Question 10
Reverse the list [10, 20, 30, 40, 50].

In [10]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

### Question 11
Create a tuple with 100, 200, 300 and print it.

In [11]:
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

### Question 12
Access second-to-last element from ('red', 'green', 'blue', 'yellow').

In [12]:
tpl = ('red', 'green', 'blue', 'yellow')
print(tpl[-2])

blue

### Question 13
Find the minimum number in (10, 20, 5, 15).

In [13]:
print(min((10, 20, 5, 15)))

5

### Question 14
Find index of 'cat' in ('dog', 'cat', 'rabbit').

In [14]:
tpl = ('dog', 'cat', 'rabbit')
print(tpl.index('cat'))

1

### Question 15
Check if 'kiwi' in a fruit tuple.

In [15]:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

### Question 16
Create a set with elements 'a', 'b', 'c'.

In [16]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

### Question 17
Clear all elements from set {1,2,3,4,5}.

In [17]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

### Question 18
Remove element 4 from set {1,2,3,4}.

In [18]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

### Question 19
Find union of {1,2,3} and {3,4,5}.

In [19]:
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}

### Question 20
Find intersection of {1,2,3} and {2,3,4}.

In [20]:
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

### Question 21
Create dictionary with keys name, age, city.

In [21]:
d = {'name': 'John', 'age': 25, 'city': 'New York'}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

### Question 22
Add key 'country':'USA' to dict.

In [22]:
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

### Question 23
Access value of key 'name'.

In [23]:
print(d['name'])

John

### Question 24
Remove key 'age' from dictionary.

In [24]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

### Question 25
Check if 'city' exists in dict.

In [25]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

### Question 26
Create list, tuple, dictionary and print all.

In [26]:
l = [1, 2, 3]
t = (4, 5, 6)
d = {'a': 1, 'b': 2}
print(l, t, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}